<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Ironhack (Static) Chat</div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink] = "['/profile', user._id]"><img [src] = "user.picture" class="img-circle"></a>
        </li>
    </ul>
  </div>
</nav>

<div class="container-fluid container-message">
  <b>Marketa</b>
  <p>Hello everyone. This is my final IronHack project. It is supposed to be a social network app with a live chat.</p>
  <span class="time-left">11:00</span>
</div>

<div class="container-fluid darker">
  <b> Jenny </b>
  <p>However, the project is still under development.</p>
  <span class="time-left">11:05</span>
</div>

<div class="container-fluid darker">
  <p>There is no live chat yet, just this "fake chat" placeholder to get an idea how it will look eventually.</p>
  <span class="time-left">11:05</span>
</div>


<div class="container-fluid container-message">
  <b>Marketa</b>
  <p><img class="smiley"src="/assets/imgs/smiley.png"></p>
  <span class="time-left">11:08</span>
</div>


<footer class="navbar navbar-fixed-bottom chat-input">
  <form class="container-fluid">
    <i class="fa fa-comments"></i>
   <!--  <input type="text" maxlength="250" name="message" placeholder="Type your message here" #inputMessage [(ngModel)]="messageContent" 
  (keyup.enter)="sendMessage(messageContent)"> -->
   <input type="text" maxlength="250" name="message" placeholder="Type your message here">

  <button> Send </button>

  <button class="btn btn-danger navbar-btn align-right" (click)="logout()">Leave the conversation</button>
  </form>
</footer>
