<!-- it there is no user yet, show loading -->
<div *ngIf="!user">
  <img class="loading" src="/assets/imgs/loading.gif" />
</div>

<!-- else -->
<div class="card" *ngIf="user">

<!--   NAV BAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" a [routerLink]="['/chat']">Back to the Chat</a>
    </div>
  </div>
</nav>

<!-- BODY -->
<div class="profile-page">
  <!-- FORM -->
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
    <!-- left side of profile page -->
    <div class=" col-md-offset-1 col-md-3" id="profile-left">

      <img src="/assets/imgs/default.png" class="img-thumbnail profile-pic" alt="Cinque Terre">
      <hr>

        <!-- city of residence -->
        <h4 class="text-center section-name"> City of Residence </h4>
        <input type="text" class="form-control text-center value" id="edit-city" name="city" [(ngModel)]="cityOfResidence" #cityOfResidenceField="ngModel"
          required [disabled]="processing" placeholder="{{user.cityOfResidence}}">
        <hr>
        <!-- work -->
        <h4 class="text-center section-name"> Work </h4>
        <input type="text" class="form-control text-center value" id="edit-work" name="work" [(ngModel)]="work" #workField="ngModel"
          required [disabled]="processing" placeholder="{{user.work}}">
        <hr>
        <!-- skills -->
        <h4 class="text-center section-name"> Skills </h4>
        <p class="alert alert-success skill"> JavaScript</p>
        <p class="alert alert-success skill"> Angular </p>
        <p class="alert alert-success skill"> HTML </p>
        <p class="alert alert-success skill"> CSS</p>
    </div>

    <!-- right side of profile page -->
    <div class="col-md-7" id="profile-right">
      <!-- edit button -->
      <a [routerLink]="['/profile', user._id, 'edit']">
        <span class="glyphicon glyphicon-pencil edit" ></span>
      </a>

      <div class="profile-head">
        <!--first name-->
        <div class="form-inline">
          <div class="form-group">
             <input type="text" class="form-control value-heading" id="edit-firstname" name="firstName" [(ngModel)]="firstName" #firstNameField="ngModel"
            required [disabled]="processing" placeholder="{{user.firstName}}">
          </div>
          <!--last name-->
          <div class="form-group">
            <input type="text" class="form-control  value-heading" id="edit-lastname" name="lastName" [(ngModel)]="lastName" #lastNameField="ngModel"
              required [disabled]="processing" placeholder="{{user.lastName}}">
          </div>
        </div>

        <!-- cohort -->
        <div class="form-inline">
          <div class="form-group">
            <label for="cohort" class="label">Ironhack Campus:</label>
            <input type="text" class="form-control" id="edit-cohort" name="cohort" [(ngModel)]="cohort" #cohortField="ngModel" required
              [disabled]="processing" placeholder="{{user.cohort}}">
          </div>
        </div>
      </div>
      
      <section class="text-center">
        <h4 class="text-center section-name"> About me </h4>
        <input type="text" class="form-control text-center" id="edit-about" name="about" [(ngModel)]="about" #aboutField="ngModel" required
          [disabled]="processing" placeholder="{{user.about}}">
        <hr>
      </section>

      <section class="text-center">
        <h4 class="text-center section-name"> What I like </h4>
        <input type="text" class="form-control text-center" id="edit-likes" name="likes" [(ngModel)]="likes" #likesField="ngModel" required
          [disabled]="processing" placeholder="{{user.likes}}">
        <hr>
      </section>

      <section class="text-center">
        <h4 class="section-name"> My Story </h4>
        <input type="text" class="form-control text-center" id="edit-myStory" name="myStory" [(ngModel)]="myStory" #myStoryField="ngModel" required
        [disabled]="processing" placeholder="{{user.myStory}}">
        <hr>
        <hr>
      </section>

      <section>
        <h4 class="section-name"> Default Friends: </h4>
        <img src="/assets/imgs/ioana.jpeg" class="img-thumbnail friend-pic" alt="Cinque Terre">
        <img src="/assets/imgs/lennie.jpeg" class="img-thumbnail friend-pic" alt="Cinque Terre">
        <img src="/assets/imgs/samantha.jpeg" class="img-thumbnail friend-pic" alt="Cinque Terre">
        <img src="/assets/imgs/miriam.jpeg" class="img-thumbnail friend-pic" alt="Cinque Terre">
        <img src="/assets/imgs/marketa.jpeg" class="img-thumbnail friend-pic" alt="Cinque Terre">
      </section>


      </div>
</form>
    <div class="clearfloat"></div>
  </div>
</div>






