@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Karma|Roboto');

body {
  font-size: 17px;
  font-family: 'Karma', serif;
  background-color:black;
   /* #46A8AA; */
}

/* Profile page section */

.profile-page{
  background-color: #fcf9f9;
  padding: 50px;
}

.section-name {
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 20px;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* profile page section LEFT */

#profile-left{
  padding-top: 50px;
}

.profile-pic {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* profile page section RIGHT */

#profile-right{
  padding-top: 50px;
  padding-left: 50px;
}

.profile-head{
  padding-bottom: 40px;
}

section{
  padding-bottom: 20px;
}

.friend-pic {
  height: 100px;
  width: 100px;
}

.edit {
  color: #0075AD;
  font-size: 25px;
  cursor: pointer;
  float: right;
  padding-left: 20px;
}

.btn-submit{
float: right;
}


/* CLEAR FLOAT*/

.clearfloat {
  clear: both;
}


/* GENERAL STYLES */

.form-control {
  font-size: 17px;
}

.value-heading{
  font-size: 25px;
}

input, textarea {
  background-color: #FCF9F9;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;; 
}

select {
  background-color: #FCF9F9;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;; 
}

.label{
  font-size: 17px;
  color: black;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 400;
  padding-left: 15px;
}

.navbar-default{
  background-color: #46A8AA;
  border: none!important;
  height: 5vh;
  border-radius: 0%;
}

.glyphicon-arrow-left{
  padding-right: 10px;
}

.navbar-brand{
  color: white;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #FCF9F9;
  border: none;
  outline: none;
  border-color: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.add-skill-section{
  padding-bottom: 20px;
}

.skills-alert{
  padding-top: 10px;
}

.span {
  float: right;
  cursor: pointer;
}

ul{
  list-style: none;

}

@media (max-width: 600px) {
  .edit{
    padding: 20px;
  }

  #profile-right{
    padding: 0;
  }

  #edit-name{
    font-size: 20px;
    text-align: center;
  }

  .profile-page{
    padding: 10px;
  }

   #edit-cohort{
    align-content: center;
  }
}