<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <!-- NAME -->
  <div class="form-group" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
    <input type="text" class="form-control" id="sg-name" name="name" placeholder="First Name + Last Name" [(ngModel)]="name"
      #nameField="ngModel" required [disabled]="processing">
    <!-- Error message -->
    <div *ngIf="feedbackEnabled && nameField.errors">
      <p *ngIf="nameField.errors.required" class="validation"> Name is required</p>
    </div>
  </div>

  <!--  CITY OF RESIDENCE -->
  <div class="form-group" [ngClass]="{'has-error': feedbackEnabled && cityOfResidence.errors}">
    <input type="text" class="form-control" id="sg-cityOfResidence" name="cityOfResidence" placeholder="City of residence" [(ngModel)]="cityOfResidence" #cityOfResidenceField="ngModel"
      required [disabled]="processing">
    <!-- Error message -->
    <div *ngIf="feedbackEnabled && cityOfResidence.errors">
      <p *ngIf="cityOfResidence.errors.required" class="validation"> City of residence is required</p>
    </div>
  </div>

  <!-- COHORT -->
  <div class="form-group">
    <select name="cohort" [(ngModel)]="cohort" class="form-control" id="select-campus" placeholder="Campus city">
      <option value="" selected disabled>Select your Campus</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Madrid">Madrid</option>
      <option value = "Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="São Paulo">São Paulo</option>
    </select>
  </div>

  <!--  EMAIL -->
  <div class="form-group" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
    <input type="text" class="form-control" id="sg-email" name="email" placeholder="Email" [(ngModel)]="email" #emailField="ngModel"
      required [disabled]="processing">
    <!-- Error message -->
    <div *ngIf="feedbackEnabled && emailField.errors">
      <p *ngIf="emailField.errors.required" class="validation"> Email is required</p>
    </div>
  </div>


  <!--  PASSWORD -->
  <div class="form-group" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
    <input type="password" class="form-control" id="sg-password" name="password" placeholder="Password" [(ngModel)]="password"
      #passwordField="ngModel" required minlength="6" [disabled]="processing">
    <!-- Error message -->
    <div *ngIf="feedbackEnabled && passwordField.errors">
      <p *ngIf="passwordField.errors.required" class="validation"> Password is required</p>
      <p *ngIf="passwordField.errors.minlength" class="validation"> Password is too short</p>
    </div>
  </div>

  <!-- CHECKBOX -->
  <div class="checkbox" [ngClass]="{'has-error': feedbackEnabled && checkboxField.errors}">
    <label>
      <input type="checkbox" name="checkbox" required [disabled]="processing" [(ngModel)]="terms" #checkboxField="ngModel"> I have read and accept the
      <a href="/">Terms and Conditions</a>
    </label>

    <div *ngIf="feedbackEnabled && checkboxField.errors">
      <p *ngIf="checkboxField.errors.required" class="validation"> You have to agree with the Terms and Conditions </p>
    </div>
  </div>

  <!-- SUBMIT BUTTON -->
  <button type="submit" [disabled]="processing" class="btn btn-default btn-signup">Sign up</button>
  <a class="btn btn-social btn-facebook">
    <i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook
  </a>
  <div *ngIf="feedbackEnabled && form.invalid">
    <p class="validation">There are errors in the form. Please review it, and submit again.</p>
  </div>
</form>
